# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run

# Files from Forge MDK
forge_README.txt
forge*changelog.txt

.tools/
run-data/

# Local logs and credentials
*.log
.env
.env.*
!.env.example

